.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/Picture1.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1051px;
}


.box.has-advanced-upload {
  background-color: white;
  outline: 2px dashed black;
  outline-offset: -10px;
}
.box.has-advanced-upload .box__dragndrop {
  display: inline;
}

.box.is-dragover {
  background-color: grey;
}
.box__dragndrop,
.box__uploading,
.box__success,
.box__error {
  display: none;
}
.u-section-1 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  margin: 84px auto 0 42px;
}

.u-section-1 .u-text-2 {
  margin: 42px auto 0 42px;
}

.u-section-1 .u-custom-html-1 {
  min-height: 354px;
  height: auto;
  margin: 42px -28px 60px 28px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 867px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-top: 251px;
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 664px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-bottom: 26px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 498px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-bottom: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 314px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 354px;
}

.u-section-2 .u-text-1 {
  text-transform: uppercase;
  margin: 60px auto 0;
}

.u-section-2 .u-text-2 {
  margin: 20px auto 0;
}

.u-section-2 .u-text-3 {
  line-height: 1.8;
  width: 680px;
  margin: 20px auto 60px;
}

@media (max-width: 767px) {
  .u-section-2 .u-text-3 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-3 {
    width: 340px;
  }
}.u-section-3 {
  background-image: linear-gradient(#800080, #fef9e6);
}

.u-section-3 .u-sheet-1 {
  min-height: 434px;
}

.u-section-3 .u-text-1 {
  font-size: 3.75rem;
  margin: 60px auto 0;
}

.u-section-3 .u-text-2 {
  line-height: 2;
  width: 614px;
  margin: 33px auto 0;
}

.u-section-3 .u-btn-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 400;
  border-style: none;
  font-size: 0.875rem;
  background-image: none;
  margin: 33px auto 60px;
  padding: 10px 44px;
}

@media (max-width: 767px) {
  .u-section-3 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-3 .u-text-2 {
    width: 340px;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 50vw;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 840px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 18px;
}

.u-section-4 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 400;
  margin: 0 236px 0 12px;
}

.u-section-4 .u-text-2 {
  font-size: 1.25rem;
  line-height: 2.2;
  font-weight: normal;
  margin: 21px 0 0 12px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 840px;
}

.u-section-4 .u-container-layout-2 {
  padding: 21px 30px 30px;
}

.u-section-4 .u-image-1 {
  width: 487px;
  height: 354px;
  margin: 15px 21px 0;
}

.u-section-4 .u-image-2 {
  width: 487px;
  height: 351px;
  margin: 48px auto 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 401px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 693px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 0;
    margin-right: 125px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 693px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-right: 23px;
  }

  .u-section-4 .u-image-1 {
    width: 300px;
    height: 218px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-image-2 {
    width: 300px;
    height: 216px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 270px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    font-size: 1.125rem;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 531px;
  }

  .u-section-4 .u-image-1 {
    width: 216px;
    height: 157px;
  }

  .u-section-4 .u-image-2 {
    width: 216px;
    height: 156px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1197px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 1039px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-right: 170px;
    padding-left: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 696px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 654px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-right: 10px;
  }
}.u-section-5 {
  background-image: none;
  min-height: 829px;
}

.u-section-5 .u-shape-1 {
  height: 269px;
  margin-top: 0;
  margin-bottom: 0;
  background-image: linear-gradient(#eafdfc, #800080);
}

.u-section-5 .u-image-1 {
  width: 994px;
  min-height: 758px;
  background-image: url("images/dataset.JPG");
  margin: -219px auto 22px;
}

.u-section-5 .u-container-layout-1 {
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-image-1 {
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-5 {
    min-height: 542px;
  }

  .u-section-5 .u-shape-1 {
    height: 243px;
  }

  .u-section-5 .u-image-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-5 {
    min-height: 520px;
  }

  .u-section-5 .u-image-1 {
    width: 540px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-5 {
    min-height: 559px;
  }

  .u-section-5 .u-shape-1 {
    height: 238px;
  }

  .u-section-5 .u-image-1 {
    width: 340px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }
}.u-section-6 {
  background-image: linear-gradient(#800080, white);
}

.u-section-6 .u-sheet-1 {
  min-height: 500px;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 429px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 600;
  text-transform: none;
  margin: 0 134px 0 0;
}

.u-section-6 .u-text-2 {
  font-weight: 700;
  line-height: 1.8;
  font-style: italic;
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-6 .u-social-icons-1 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 200px;
  min-width: 120px;
  margin: 178px auto 0 0;
}

.u-section-6 .u-icon-1 {
  height: 100%;
}

.u-section-6 .u-icon-2 {
  height: 100%;
}

.u-section-6 .u-icon-3 {
  height: 100%;
}

.u-section-6 .u-icon-4 {
  height: 100%;
}

.u-section-6 .u-icon-5 {
  height: 100%;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 504px;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px 12px;
}

.u-section-6 .u-text-3 {
  font-weight: 700;
  font-size: 1.25rem;
  text-transform: none;
  margin: 0 18px;
}

.u-section-6 .u-text-4 {
  margin: 20px 143px 0 18px;
}

.u-section-6 .u-text-5 {
  font-weight: 700;
  font-size: 1.25rem;
  text-transform: none;
  margin: 20px 18px 0;
}

.u-section-6 .u-text-6 {
  margin: 18px 80px 0 18px;
}

.u-section-6 .u-text-7 {
  font-weight: 700;
  font-size: 1.25rem;
  text-transform: none;
  margin: 12px 0 0 36px;
}

.u-section-6 .u-text-8 {
  margin: 28px 77px 0 18px;
}

.u-section-6 .u-layout-cell-3 {
  min-height: 400px;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px 30px 30px 0;
}

.u-section-6 .u-form-1 {
  height: 317px;
  margin: 0 -60px 0 0;
}

.u-section-6 .u-btn-1 {
  border-style: none;
  letter-spacing: 1px;
  background-image: none;
  text-transform: uppercase;
  font-weight: 600;
  width: 100%;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 430px;
  }

  .u-section-6 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 354px;
  }

  .u-section-6 .u-text-1 {
    margin-right: 51px;
  }

  .u-section-6 .u-social-icons-1 {
    margin-top: 210px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 416px;
  }

  .u-section-6 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-6 .u-text-4 {
    margin-right: 81px;
    margin-left: 0;
  }

  .u-section-6 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-7 {
    margin-left: 0;
  }

  .u-section-6 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 330px;
  }

  .u-section-6 .u-form-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 353px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 465px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-1 {
    margin-right: 0;
  }

  .u-section-6 .u-social-icons-1 {
    height: 27px;
    width: 176px;
    margin-top: 242px;
    margin-right: 17px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-4 {
    margin-right: 8px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1146px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-social-icons-1 {
    margin-top: 146px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 816px;
  }

  .u-section-6 .u-social-icons-1 {
    margin-top: 178px;
  }

  .u-section-6 .u-text-4 {
    margin-right: 0;
  }
}